.main {
    position: relative;
    padding: 10px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    .gameBg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0, 0, 0.4);
        z-index: 2;
    }
    > * {
        z-index: 3;
        position: relative;
    }
    .header {
        width: 40%;
        .player-name {
            color: #fff;
            background: var(--main-color);
            padding: 3px 15px;
            width: 100%;
            border-radius: 20px;
            border: 3px dashed;
            font-size: 18px;
            text-align: center;
        }
        .bar {
            margin-top: 10px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            position: relative;
            i {
                position: absolute;
                left: -10px;
                top: -2px;
                font-size: 2.5em;
                z-index: 2;
                color: #FFD700;
            }
            .progress {
                background: #fff;
                padding: 12px 30px;
                border-radius: 30px;
                border: 3px solid var(--main-color);
                width: calc(100% - 30px - 5px);
                position: relative;
                &::before {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(65% - 15px);
                    height: 100%;
                    background: var(--xp-color);
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    font-weight: bold;
                    padding-right: 15px;
                }
                &.coins {
                    width: 70%;
                    &::before {
                        width: 100%;
                        background-color: orange;
                        color: #000;
                        text-shadow: 0 0 10px rgb(172, 135, 3), 0 0 20px rgba(255, 140, 0, 0.8), 0 0 30px rgba(255, 69, 0, 0.6);
                        letter-spacing: 2px;
                        justify-content: center;
                        padding-right: 0;
                        font-size: 1em;
                    }
                }
            }
            .level {
                margin-left: 5px;
                padding: 10px;
                width: 30px ;
                height: 30px ;
                border-radius: 50%;
                background-color: var(--seconde-color);
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }
        }
    }


    .tasks {
        position: absolute;
        left: -16px;
        top: 50%;
        transform: translateY(20%) rotate(90deg);
        background: var(--seconde-color);
        padding: 5px 12px;
        border-radius: 6px;
        font-size: 14px;
    }


    .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        .aiChat , .icons .icon {
           transition: .3s;
           &:hover {
                background-color: color-mix(in srgb, var(--main-color) 100%, var(--main-color) 100%);
           } 
        }
        .aiChat {

            padding: 7px 10px;
            border: 5px dashed #fff;
            border-radius: 10px;
            background-color: color-mix(in srgb, var(--main-color) 10%, var(--main-color) 40%);
            width: fit-content;
            img {
                max-width: 60px;
            }
        
        }
        .icons {
            display: flex;
            gap: 20px;
            .icon {
                background-color: color-mix(in srgb, var(--main-color) 10%, var(--main-color) 40%);
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 3px solid #fff;
                i {
                    color: #fff;
                    font-size: 1.2em ;
                }

            }
        } 


    }

    .video-container{position:relative;height: 180px;
        margin-bottom: 20px;overflow:hidden;width:100%}
    .video-container iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
    
    .video_view {
        position: absolute;
        z-index: 100;
        width: 95%;
        .close-icon {
            color: #fff;
            margin: 5px 0 10px;
        }
        .text {
            color: #fff !important;
            h3 {
                color: #fff;
                font-size: .7em;
            }
            p {
                margin: 10px 0;
                line-height: 1.4;
                font-size: .6em;
                color: #999;
            }
            .btn {
                font-size: .7em;
                padding: 8px 15px;
            }
        }
    }
    .tasks-view {
        i {
            font-size: .9em;
            color: #fff;
        }
        h3 {
            color: #eee;
            font-size: .9em;
            text-align: center;
        }
        .tasks-container {
            overflow: scroll;
            margin: 20px 0;
            max-height: 250px;
            .task {
                border: 1px solid #eee;
                border-radius: 20px;
                padding: 8px;
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 30px;
                    h4 {
                        color: var(--seconde-color);
    
                    }   
                    .btn {
                        padding: 5px 6px;
                        border-width: 1px;
                        font-size: 0.7em;
                    }
                }
                p {
                    color: #777;
                    font-size: .7em;
                    margin: 5px 0;
                }             
            }
        }
    }
}