.main {
    position: relative;
    padding: 10px;
    min-height: 101vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    .gameBg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0, 0, 0.4);
        z-index: 2;
    }
    > * {
        z-index: 3;
        position: relative;
    }
    .header {
        width: 40%;
        .player-name {
            color: #fff;
            background: var(--main-color);
            padding: 3px 15px;
            width: 100%;
            border-radius: 20px;
            border: 3px dashed;
            font-size: 18px;
            text-align: center;
        }
        .bar {
            margin-top: 10px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            position: relative;
            i {
                position: absolute;
                left: -10px;
                top: -2px;
                font-size: 2.5em;
                z-index: 2;
                color: #FFD700;
            }
            .progress {
                background: #fff;
                padding: 12px 30px;
                border-radius: 30px;
                border: 3px solid var(--main-color);
                width: calc(100% - 30px - 5px);
                position: relative;
                &::before {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: var(--width, 70%);
                    height: 100%;
                    background: var(--xp-color);
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    font-weight: bold;
                    padding-right: 15px;
                    transition: width 0.3s ease;
                }
                &.coins {
                    width: 70%;
                    &::before {
                        width: 100%;
                        background-color: orange;
                        color: #000;
                        text-shadow: 0 0 10px rgb(172, 135, 3), 0 0 20px rgba(255, 140, 0, 0.8), 0 0 30px rgba(255, 69, 0, 0.6);
                        letter-spacing: 2px;
                        justify-content: center;
                        padding-right: 0;
                        font-size: 1em;
                    }
                }
            }
            .level {
                margin-left: 5px;
                padding: 10px;
                width: 30px ;
                height: 30px ;
                border-radius: 50%;
                background-color: var(--seconde-color);
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }
        }
    }


    .tasks {
        position: absolute;
        left: -16px;
        top: 50%;
        transform: translateY(20%) rotate(90deg);
        background: var(--seconde-color);
        padding: 5px 12px;
        border-radius: 6px;
        font-size: 14px;
    }

    .top-right {
        position: absolute !important;
        right: 1%;
        top: 2%;
    }

    .icons {
        display: flex;
        gap: 20px;
        .icon {
            background-color: color-mix(in srgb, var(--main-color) 10%, var(--main-color) 40%);
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 3px solid #fff;
            cursor: pointer;
            transition: .3s;
            &:hover {
                    background-color: color-mix(in srgb, var(--main-color) 100%, var(--main-color) 100%);
            } 
            i {
                color: #fff;
                font-size: 1.2em ;
            }
        }
    } 
    .fullscreen-toggle {
        position: static ;
    }


    .leadboard {
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
            tr {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                transition: .3s;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                }
            }
            td {
                padding: 10px;
                text-align: center;
                color: #dfdfdf;
                font-size: 0.9em;
                vertical-align: middle;
            }
            /* Header Styling */
            thead tr td {
                color: var(--seconde-color);
                font-weight: bold;
                padding-bottom: 15px;
            }
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                background-color: #fff;
                border: 2px solid var(--main-color);
            }
        }
    }

    .info {
        h1 {
            color: var(--seconde-color);
        }
        p {
            color: #eee;
        }
        h3 {
            text-align: right;
            font-size: 1.2em;
            color: var(--checkbox-hover);
            margin-top: 10px;
        }
        ul li {
            font-size: .9em;
            margin-bottom: 8px;
            color: #999;
            strong {
                color: #fff;
            }
        }
    }


    .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        .aiChat , .icons .icon {
           transition: .3s;
           &:hover {
                background-color: color-mix(in srgb, var(--main-color) 100%, var(--main-color) 100%);
           } 
        }
        .aiChat {

            padding: 7px 10px;
            border: 5px dashed #fff;
            border-radius: 10px;
            background-color: color-mix(in srgb, var(--main-color) 10%, var(--main-color) 40%);
            width: fit-content;
            img {
                max-width: 60px;
            }
        
        }



    }

    .video-container{position:relative;height: 180px;
        margin-bottom: 20px;overflow:hidden;width:100%; display: none;}
    .video-container.active {display: block;}
    .video-container iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0;}

    .video_view {
        position: absolute;
        z-index: 100;
        width: 95%;
        max-height: 90%;
        overflow-y: scroll;
        .close-icon {
            color: #fff;
            margin: 5px 0 10px;
        }
        .text {
            color: #fff !important;
            h3 {
                color: #fff;
                font-size: .7em;
            }
            p {
                margin: 10px 0;
                line-height: 1.4;
                font-size: .6em;
                color: #999;
                &.big {
                    font-size: .8em;
                }
            }
            .btn {
                font-size: .7em;
                padding: 8px 15px;
            }
        }
    }
    .tasks-view {
        width: 90%;
        .tasks-container {
            margin: 20px 0;
            
            
            .task {
                border: 1px solid #eee;
                border-radius: 20px;
                padding: 8px;
                margin-bottom: 15px;
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 30px;
                    h4 {
                        color: var(--seconde-color);
                        font-size: .9em;
                    }   
                    .btn {
                        padding: 5px 6px;
                        border-width: 1px;
                        font-size: 0.7em;
                    }
                }
                p {
                    color: #777;
                    font-size: .7em;
                    margin: 8px 0 5px;
                }             
            }
        }
    }
    .chat {
        max-height: 150px !important;
    }
    .chat-ai {
        /* background-color: #fff; */
        h3 {
            text-align: right;
            span {
                color: var(--seconde-color);
            }
        }
        .chat-msgs {
            .msg {
                padding: 10px;
                border-radius: 6px;
                border: 1px solid #777;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                &.ai {
                    flex-direction: row-reverse;
                    .text {
                        text-align: left;
                    }
                }
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: contain;
                    border: 2px solid var(--main-color);
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    div , p {
                        font-size: 13px;
                        margin: 0;
                        color: #fff;
                    }
                    span {
                        color: #777;
                        font-size: 10px;
                        font-weight: bold;
                    }
                }
            }
        }
        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            .btn {
                margin-top: 0;
                padding: 10px 20px;
                font-style: normal;

            }
        }
    }
}
.earning-show {
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    z-index: 5;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    > div {
        display: none;
        position: relative;
        align-items: center;
        padding: 0px 80px 0 10px;
        border-radius: 20px;
        i {
            color: #fff;
            font-size: 5em;
            position: absolute;
            top: 50%;
            right: -25px;
            transform: translateY(-50%) rotate(10deg);
        }
        span {
            color: #fff;
            font-weight: bold;
            font-size: 2em;
            transform: skew(10deg, 10deg);
        }
        &.active {
            display: flex;
        }
    }
    .coins {
        background-color: orange;
    }
    .xp {
        background-color: var(--xp-color);
    }
    
}