.main {
	 position: relative;
	 padding: 10px;
	 min-height: 101vh;
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 align-items: end;
	 justify-content: space-between;
}
 .main .gameBg {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 z-index: 1;
	 position: absolute;
	 top: 0;
	 left: 0;
}
 .main::after {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: rgba(0, 0, 0, 0.4);
	 z-index: 2;
}
 .main > * {
	 z-index: 3;
	 position: relative;
}
 .main .header {
	 width: 40%;
}
 .main .header .player-name {
	 color: #fff;
	 background: var(--main-color);
	 padding: 3px 15px;
	 width: 100%;
	 border-radius: 20px;
	 border: 3px dashed;
	 font-size: 18px;
	 text-align: center;
}
 .main .header .bar {
	 margin-top: 10px;
	 display: flex;
	 flex-direction: row-reverse;
	 align-items: center;
	 position: relative;
}
 .main .header .bar i {
	 position: absolute;
	 left: -10px;
	 top: -2px;
	 font-size: 2.5em;
	 z-index: 2;
	 color: #ffd700;
}
 .main .header .bar .progress {
	 background: #fff;
	 padding: 12px 30px;
	 border-radius: 30px;
	 border: 3px solid var(--main-color);
	 width: calc(100% - 30px - 5px);
	 position: relative;
}
 .main .header .bar .progress::before {
	 content: attr(data-text);
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: var(--width, 70%);
	 height: 100%;
	 background: var(--xp-color);
	 border-radius: 30px;
	 display: flex;
	 align-items: center;
	 font-size: 11px;
	 font-weight: bold;
	 padding-right: 15px;
	 transition: width 0.3s ease;
}
 .main .header .bar .progress.coins {
	 width: 70%;
}
 .main .header .bar .progress.coins::before {
	 width: 100%;
	 background-color: orange;
	 color: #000;
	 text-shadow: 0 0 10px #ac8703, 0 0 20px rgba(255, 140, 0, 0.8), 0 0 30px rgba(255, 69, 0, 0.6);
	 letter-spacing: 2px;
	 justify-content: center;
	 padding-right: 0;
	 font-size: 1em;
}
 .main .header .bar .level {
	 margin-left: 5px;
	 padding: 10px;
	 width: 30px;
	 height: 30px;
	 border-radius: 50%;
	 background-color: var(--seconde-color);
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 font-weight: bold;
}
 .main .tasks {
	 position: absolute;
	 left: -16px;
	 top: 50%;
	 transform: translateY(20%) rotate(90deg);
	 background: var(--seconde-color);
	 padding: 5px 12px;
	 border-radius: 6px;
	 font-size: 14px;
}
 .main .top-right {
	 position: absolute !important;
	 right: 1%;
	 top: 2%;
}
 .main .icons {
	 display: flex;
	 gap: 20px;
}
 .main .icons .icon {
	 background-color: color-mix(in srgb, var(--main-color) 10%, var(--main-color) 40%);
	 padding: 20px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 30px;
	 height: 30px;
	 border-radius: 50%;
	 border: 3px solid #fff;
	 cursor: pointer;
	 transition: 0.3s;
}
 .main .icons .icon:hover {
	 background-color: color-mix(in srgb, var(--main-color) 100%, var(--main-color) 100%);
}
 .main .icons .icon i {
	 color: #fff;
	 font-size: 1.2em;
}
 .main .fullscreen-toggle {
	 position: static;
}
 .main .leadboard table {
	 width: 100%;
	 border-collapse: collapse;
	 margin-top: 15px;
	/* Header Styling */
}
 .main .leadboard table tr {
	 border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	 transition: 0.3s;
}
 .main .leadboard table tr:hover {
	 background-color: rgba(255, 255, 255, 0.05);
}
 .main .leadboard table td {
	 padding: 10px;
	 text-align: center;
	 color: #dfdfdf;
	 font-size: 0.9em;
	 vertical-align: middle;
}
 .main .leadboard table thead tr td {
	 color: var(--seconde-color);
	 font-weight: bold;
	 padding-bottom: 15px;
}
 .main .leadboard table img {
	 width: 50px;
	 height: 50px;
	 border-radius: 50%;
	 object-fit: cover;
	 background-color: #fff;
	 border: 2px solid var(--main-color);
}
 .main .info h1 {
	 color: var(--seconde-color);
}
 .main .info p {
	 color: #eee;
}
 .main .info h3 {
	 text-align: right;
	 font-size: 1.2em;
	 color: var(--checkbox-hover);
	 margin-top: 10px;
}
 .main .info ul li {
	 font-size: 0.9em;
	 margin-bottom: 8px;
	 color: #999;
}
 .main .info ul li strong {
	 color: #fff;
}
 .main .footer {
	 display: flex;
	 justify-content: space-between;
	 width: 100%;
	 flex-direction: row-reverse;
	 align-items: center;
}
 .main .footer .aiChat, .main .footer .icons .icon {
	 transition: 0.3s;
}
 .main .footer .aiChat:hover, .main .footer .icons .icon:hover {
	 background-color: color-mix(in srgb, var(--main-color) 100%, var(--main-color) 100%);
}
 .main .footer .aiChat {
	 padding: 7px 10px;
	 border: 5px dashed #fff;
	 border-radius: 10px;
	 background-color: color-mix(in srgb, var(--main-color) 10%, var(--main-color) 40%);
	 width: fit-content;
}
 .main .footer .aiChat img {
	 max-width: 60px;
}
 .main .video-container {
	 position: relative;
	 height: 180px;
	 margin-bottom: 20px;
	 overflow: hidden;
	 width: 100%;
	 display: none;
}
 .main .video-container.active {
	 display: block;
}
 .main .video-container iframe {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border: 0;
}
 .main .video_view {
	 position: absolute;
	 z-index: 100;
	 width: 95%;
	 max-height: 90%;
	 overflow-y: scroll;
}
 .main .video_view .close-icon {
	 color: #fff;
	 margin: 5px 0 10px;
}
 .main .video_view .text {
	 color: #fff !important;
}
 .main .video_view .text h3 {
	 color: #fff;
	 font-size: 0.7em;
}
 .main .video_view .text p {
	 margin: 10px 0;
	 line-height: 1.4;
	 font-size: 0.6em;
	 color: #999;
}
 .main .video_view .text p.big {
	 font-size: 0.8em;
}
 .main .video_view .text .btn {
	 font-size: 0.7em;
	 padding: 8px 15px;
}
 .main .tasks-view {
	 width: 90%;
}
 .main .tasks-view .tasks-container {
	 margin: 20px 0;
}
 .main .tasks-view .tasks-container .task {
	 border: 1px solid #eee;
	 border-radius: 20px;
	 padding: 8px;
	 margin-bottom: 15px;
}
 .main .tasks-view .tasks-container .task .title {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 gap: 30px;
}
 .main .tasks-view .tasks-container .task .title h4 {
	 color: var(--seconde-color);
	 font-size: 0.9em;
}
 .main .tasks-view .tasks-container .task .title .btn {
	 padding: 5px 6px;
	 border-width: 1px;
	 font-size: 0.7em;
}
 .main .tasks-view .tasks-container .task p {
	 color: #777;
	 font-size: 0.7em;
	 margin: 8px 0 5px;
}
 .main .chat {
	 max-height: 150px !important;
}
 .main .chat-ai {
	/* background-color: #fff;
	 */
}
 .main .chat-ai h3 {
	 text-align: right;
}
 .main .chat-ai h3 span {
	 color: var(--seconde-color);
}
 .main .chat-ai .chat-msgs .msg {
	 padding: 10px;
	 border-radius: 6px;
	 border: 1px solid #777;
	 margin-bottom: 10px;
	 display: flex;
	 align-items: center;
	 gap: 10px;
}
 .main .chat-ai .chat-msgs .msg.ai {
	 flex-direction: row-reverse;
}
 .main .chat-ai .chat-msgs .msg.ai .text {
	 text-align: left;
}
 .main .chat-ai .chat-msgs .msg img {
	 width: 50px;
	 height: 50px;
	 border-radius: 50%;
	 object-fit: contain;
	 border: 2px solid var(--main-color);
}
 .main .chat-ai .chat-msgs .msg .text {
	 display: flex;
	 flex-direction: column;
	 gap: 5px;
}
 .main .chat-ai .chat-msgs .msg .text div, .main .chat-ai .chat-msgs .msg .text p {
	 font-size: 13px;
	 margin: 0;
	 color: #fff;
}
 .main .chat-ai .chat-msgs .msg .text span {
	 color: #777;
	 font-size: 10px;
	 font-weight: bold;
}
 .main .chat-ai form {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
}
 .main .chat-ai form .btn {
	 margin-top: 0;
	 padding: 10px 20px;
	 font-style: normal;
}
 .earning-show {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 101%;
	 height: 101%;
	 z-index: 5;
	 background-color: rgba(0, 0, 0, .7);
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 opacity: 0;
	 visibility: hidden;
	 transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
 .earning-show.active {
	 opacity: 1;
	 visibility: visible;
}
 .earning-show > div {
	 display: none;
	 position: relative;
	 align-items: center;
	 padding: 0px 80px 0 10px;
	 border-radius: 20px;
}
 .earning-show > div i {
	 color: #fff;
	 font-size: 5em;
	 position: absolute;
	 top: 50%;
	 right: -25px;
	 transform: translateY(-50%) rotate(10deg);
}
 .earning-show > div span {
	 color: #fff;
	 font-weight: bold;
	 font-size: 2em;
	 transform: skew(10deg, 10deg);
}
 .earning-show > div.active {
	 display: flex;
}
 .earning-show .coins {
	 background-color: orange;
}
 .earning-show .xp {
	 background-color: var(--xp-color);
}
 